<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Schwa</key>
  <string>S_chwa.glif</string>
  <key>eight.inferior</key>
  <string>eight.inferior.glif</string>
  <key>eight.superior</key>
  <string>eight.superior.glif</string>
  <key>five.inferior</key>
  <string>five.inferior.glif</string>
  <key>five.superior</key>
  <string>five.superior.glif</string>
  <key>four.inferior</key>
  <string>four.inferior.glif</string>
  <key>four.superior</key>
  <string>four.superior.glif</string>
  <key>nine.inferior</key>
  <string>nine.inferior.glif</string>
  <key>nine.superior</key>
  <string>nine.superior.glif</string>
  <key>one.inferior</key>
  <string>one.inferior.glif</string>
  <key>one.superior</key>
  <string>one.superior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>seven.inferior</key>
  <string>seven.inferior.glif</string>
  <key>seven.superior</key>
  <string>seven.superior.glif</string>
  <key>six.inferior</key>
  <string>six.inferior.glif</string>
  <key>six.superior</key>
  <string>six.superior.glif</string>
  <key>three.inferior</key>
  <string>three.inferior.glif</string>
  <key>three.superior</key>
  <string>three.superior.glif</string>
  <key>two.inferior</key>
  <string>two.inferior.glif</string>
  <key>two.superior</key>
  <string>two.superior.glif</string>
  <key>zero.inferior</key>
  <string>zero.inferior.glif</string>
  <key>zero.superior</key>
  <string>zero.superior.glif</string>
</dict>
</plist>
